:root {
  --bg: #ffffff;
  --text: #ffffff;
  --accent: #474646;
  --card: #474646;
  --header: #ffffff;
  --input: #000000;
  --border: #cccccc;
  --muted: #474646;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}

body.dark {
 --bg: #060606;
  --text: #ffffff;
  --accent: #474646;
  --card: #242424;
  --header: #1e1e1e;
  --input: #000000;
  --border: #474646;
  --muted: #cccccc;
}

nav {
  background-color: var(--accent);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

#modoToggle {
  background: white;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

header {
  
  padding: 2rem 1rem;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.texto-header {
  flex: 1;
}


.texto-header h1 {
  font-size: 2em;
  color: var(--accent);
  text-transform: uppercase;
}

.subtitulo {
  font-size: 1em;
  color: #3b3b3b;
  margin-top: 0.5rem;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--card);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botones {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

button {
  background-color: var(--accent);
  color: rgb(252, 252, 252);
  padding: 8px 16px;
  border: 1px solid #fffefe;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #f98d00;
}

footer {
  text-align: center;
  background-color: #000;
  color: white;
  padding: 1rem;
  margin-top: 3rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
